// @use '@/shared/styles/base/_layout.scss'; 으로 이동

// @use '@/shared/styles/abstracts/variables' as *;
// @use '@/shared/styles/base/mixins.scss' as *;
// // CSS Module for member layout
// .main {
//   height: 100vh;
// }

// .containWrap {
//   height: 100%;
//   display: flex;
// }
// .innerLayout {
//   height: 100%;
//   width: calc(100% - 300px);
//   min-width: 850px;
//   padding: 28px 48px 0;
// }
// //스크롤되는 페이지 내부 영역(PageTit 영역 제외)
// .pageScroll {
//   height: calc(100% - 80px);
//   overflow: auto;
// }
// .pageWrap {
//   height: calc(100vh - 110px);
// }

// .hasItem02 {
//   @include hasItem;
//   > div {
//     width: calc(100% / 2 - 12px);
//   }
// }
// .hasItem03 {
//   @include hasItem;
//   > div {
//     width: calc(100% / 3 - 8px);
//   }
// }
// .hasItem04 {
//   @include hasItem;
//   > div {
//     width: calc(100% / 4 - 9px);
//   }
// }

// //흰색 박스 레이아웃
// .boxStyle {
//   @include basic_box;
//   padding: 13px 16px;
//   cursor: auto;
// }

// // 정렬 (세로 - 가로)
// //중앙 - 왼쪽
// .centerLeft {
//   @include centerLeft;
// }
// //중앙 - 중앙
// .centerCenter {
//   @include centerCenter;
// }

// //중앙 - 오른쪽
// .centerRight {
//   @include centerRight;
// }

// //상단 왼쪽
// .topLeft {
//   @include topLeft;
// }
// //상단 - 중앙
// .topCenter {
//   @include topCenter;
// }
// //상단 - 오른쪽
// .topRight {
//   @include topRight;
// }

// //하단 왼쪽
// .btmLeft {
//   @include btmLeft;
// }
// //하단 - 중앙
// .btmCenter {
//   @include btmCenter;
// }
// //하단 - 오른쪽
// .btmRight {
//   @include btmRight;
// }

// // 버튼들 정렬/사이여백
// .btnWrap {
//   @include centerLeft;
//   flex-direction: row;
//   gap: 8px;
// }
