@use '../basic.scss' as basic;
@use './tableBasic.scss' as tableBasic;

.tableLayout{
    padding-top: 20px;
    > div{
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.04);
        overflow: hidden;
    }
    table{
        @include tableBasic.basic_table;
        thead{
            tr{
                border-bottom: 0;
                text-align: center;
                background: #EDF0F6;
                overflow: hidden;
                th{
                    @include tableBasic.basic_thtd;
                    border-right-color: rgba(0, 0, 0, 0.04);
                }
            }
        }
        tbody{
            tr{
                border-top: 1px solid transparent;
                border-bottom: 1px solid rgba(0, 0, 0, 0.04);
                background: #FFF;
                cursor: pointer;
                &:last-child{
                    border-bottom: 0;
                }
                &:hover{
                    td{
                        @include basic.activeStyle;
                        font-weight: 400;
                    }
                }
                td{
                    @include tableBasic.basic_thtd;
                    border-right-color: rgba(210, 223, 255, 0.20);
                    transition: 0.2s;
                }
                &.numberTd{
                    width: 80px;
                }
            }
            overflow-y: auto;
        }
    }
}