@use '@/shared/styles/abstracts/variables' as *;

.brandInfo {
  display: flex;
  gap: 0 4px;
  align-items: center;
  h1 {
    color: $text-color;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%; /* 18px */
    letter-spacing: -0.36px;
  }
}
