@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/base/mixins.scss' as *;
.pageTit {
  display: flex;
  color: $text-color;
  gap: 12px;
  align-items: center;
  padding-bottom: 28px;

  h2 {
    line-height: 100%;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.96px;
  }
  p {
    line-height: 100%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px;
  }
}
