@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins.scss' as *;

$padding-bottom: $pageTit-pBtm;

.brandInfo {
  display: flex;
  gap: 0 4px;
  align-items: center;
  h1 {
    color: $text-color;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%; /* 18px */
    letter-spacing: -0.36px;
  }
}

.pageTit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  h2 {
    line-height: 100%;
    font-size: $pageTit-h2;
    font-weight: 600;
    letter-spacing: -0.96px;
  }

  p {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px;
  }
}

.mainTit {
  display: flex;
  color: $text-color;
  gap: 12px;
  align-items: center;
  padding-bottom: $padding-bottom;

  h2 {
    line-height: 100%;
    font-size: $pageTit-h2;
    font-weight: 600;
    letter-spacing: -0.96px;
    padding-left: 8px;
  }
}

.topWrap {
  @include centerLeft;
  gap: 0 4px;
  padding-bottom: 20px;

  p {
    letter-spacing: -0.32px;
    line-height: 150%;
  }
  .title {
    font-weight: 500;
    font-size: $companyTit-fz;
    line-height: $normal-lh;
    padding: 12px 8px 12px 0;
  }
  .date {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0;
    line-height: $big-lh;
    color: $foundation-grayscale-shade-75;
  }
}

.topRight {
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: $txtBtn-height;
}
$img-size: 64px;

.userBox {
  @include centerCenter;
  gap: 8px;
  flex-direction: column;
  .porfile {
    width: $img-size;
    height: $img-size;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .userName {
    display: flex;
    align-items: center;
    gap: 2px;
    span {
      color: $text-color;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      &:last-child {
        padding-left: 2px;
        letter-spacing: 0.64px;
      }
    }
  }
}

.contLabel {
  @include btmLeft;
  align-self: stretch;
  padding: 8px 16px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;

  @at-root h3 > .contLabel {
    padding: 0;
    position: relative;
  }

  label {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
    color: $foundation-grayscale-shade-88;
    gap: 0 8px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    padding: 0 8px;
    @include centerLeft;
    &:hover {
      color: $foundation-grayscale-shade-33;
    }

    &:first-child {
      padding-left: 0;
      color: $foundation-grayscale-shade-33;
      &::after {
        @include afterBar;
      }
    }
  }
}

.contit {
  // position: relative;
  // flex-direction: column;
  // gap: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 12px 8px;
  & > * {
    line-height: 100%;
    letter-spacing: -0.32px;
    font-size: 24px;
    font-weight: 500;
    color: $foundation-grayscale-shade-33;
    padding-left: 0;
  }
  h3 {
    font-size: 18px;
    padding-left: 0;
  }
  p {
    font-size: 16px;
    color: $foundation-grayscale-shade-66;
    position: relative;
  }
}

:global(.mainWrap) {
  //메인 제목일 경우
  .contit {
    position: relative;
    padding: 23px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    h3 {
      padding-left: 0;
      font-weight: 600;
      min-height: 18px;
    }
  }
}
