@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/base/_mixins.scss' as *;
.topWrap {
  @include centerLeft;
  gap: 0 12px;
  padding-bottom: 40px;

  p {
    letter-spacing: -0.32px;
    line-height: 150%;
  }
  .title {
    font-weight: 500;
    font-size: 16px;
  }
  .date {
    font-weight: 300;
    font-size: 12px;
    color: $foundation-grayscale-shade-75;
  }
}

.topRight {
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: $topRight-pBtm;
}
