@use '@/shared/styles/abstracts/variables' as *;
.topWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;

  p {
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.32px;
    font-size: 16px;
  }
}

.topRight {
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 40px;
}
