@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins' as *;

// 기본 메뉴 디자인
@mixin basicMainMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $basic-radious;
  background: $background-color;
  padding: 2px 12px;
  transition:
    all $transition-slow,
    font-weight 0s;
  color: $text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.28px;

  i span {
    color: $foundation-grayscale-shade-33;
  }
}

// 활성화 메뉴
@mixin activeMainMenu {
  background: $primary-color;
  color: $foundation-light-base-shade-100;

  span {
    color: $foundation-light-base-shade-100;
  }

  i span {
    color: $foundation-light-base-shade-100;
  }
}

// 아코디언 메뉴
@mixin hoverMainMenu {
  background: $menu-active;
  color: $foundation-primary-font;
  font-weight: 500;

  i span {
    color: $foundation-primary-font;
  }
}

.leftMenu {
  min-width: 300px;
  height: 100vh;
  border-radius: 0 40px 40px 0;
  background: $foundation-light-base-shade-100;
  mix-blend-mode: multiply;
  box-shadow: $main-shadow;
  padding: 30px 28px 48px 36px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 40px 0;
  position: relative;

  .leftMenuHeader {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;

    > div {
      @include centerCenter;
      flex-direction: column;
      gap: 12px;
    }
  }

  .leftTop {
    @include centerCenter;
    flex-direction: column;
    gap: 28px 0;
  }

  ul {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 4px;

    // 스크롤바 커스터마이징
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $foundation-grayscale-shade-75;
      border-radius: 3px;

      &:hover {
        background: $foundation-grayscale-shade-66;
      }
    }

    li {
      margin-bottom: 8px;

      // 메인메뉴
      > a {
        @include basicMainMenu;
        border: 1px solid transparent;

        i {
          @include menuA;
          padding: 12px 0;
          span {
            // transition: $transition-base;
          }
        }
        // 드롭다운 아이콘
        svg {
          transition: $transition-base;
          stroke: $foundation-primary-font;
        }
      }
      // 활성화 메뉴 > 서브메뉴 드롭다운 클릭 시
      &.active ol {
        max-height: 500px;
        opacity: 1;
        li a {
          @include hoverMainMenu;
        }
      }

      // 활성화 메뉴 > 서브메뉴 드롭다운 기본 설정
      ol {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: $transition-base;
        border-top: 1px solid $foundation-primary-alpha-4percent;
        li {
          margin-bottom: 0;

          // 활성화 메뉴 > 서브메뉴 메뉴들
          a {
            @include basicMainMenu;
            padding: 12px 0 12px 34px;
            border: 1px solid transparent;

            span {
              color: $primary-color;
            }
          }

          &:last-child a {
          }

          &:hover a {
            @include hoverMainMenu;
            border: 1px solid $foundation-primary-alpha-40percent;
          }

          // 현재 위치 메뉴 표시
          &.on a,
          &.on a:hover {
            @include activeMainMenu;
            font-weight: 500;
          }
        }
      }
      // 현재 위치 메뉴 표시
      &.on a,
      &.on a:hover {
        @include activeMainMenu;
        font-weight: 500;
      }
    }

    // 메인메뉴 hover
    & > li > a:hover {
      @include hoverMainMenu;
      border: 1px solid $foundation-primary-alpha-40percent;
    }

    // 열린 드롭다운 서브메뉴 hover
    & > li.active {
      background: $menu-active;
      border-radius: $basic-radious;
      & > a {
        @include hoverMainMenu;
        // border: 1px solid $foundation-primary-alpha-4percent;
        // border-radius: $basic-radious $basic-radious 0 0;

        span {
          color: $primary-color;
        }

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.brandInfo {
  display: flex;
  gap: 0 4px;
  align-items: center;
  h1 {
    color: $text-color;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%; /* 18px */
    letter-spacing: -0.36px;
  }
}

.pageTit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  h2 {
    line-height: 100%;
    font-size: $pageTit-h2;
    font-weight: 600;
    letter-spacing: -0.96px;
  }

  p {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px;
  }
}

.mainTit {
  display: flex;
  color: $text-color;
  gap: 12px;
  align-items: center;
  padding-bottom: 40px;

  h2 {
    line-height: 100%;
    font-size: $pageTit-h2;
    font-weight: 600;
    letter-spacing: -0.96px;
    padding-left: 8px;
  }
  .dateTagWrap {
    @include centerLeft;
  }
}

.topWrap {
  @include centerLeft;
  gap: 0 4px;
  padding-bottom: 20px;

  p {
    letter-spacing: -0.32px;
    line-height: 150%;
  }
  .title {
    font-weight: 500;
    font-size: $companyTit-p;
    line-height: $normal-lh;
    padding: 12px 8px 12px 0;
  }
  .date {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0;
    line-height: $big-lh;
    color: $foundation-grayscale-shade-75;
  }
}

.topRight {
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: $txtBtn-height;
}

.userBox {
  @include centerCenter;
  gap: 8px;
  flex-direction: column;
  .porfile {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid $foundation-primary-alpha-40percent;
    background: url('/basic_profile.svg') center no-repeat;
    background-size: 40px 40px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .userName {
    display: flex;
    align-items: center;
    gap: 2px;
    span {
      color: $text-color;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      &:last-child {
        padding-left: 2px;
        letter-spacing: 0.64px;
      }
    }
  }
}

.contLabel {
  @include btmLeft;
  align-self: stretch;
  padding: 8px 16px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;

  @at-root h3 > .contLabel {
    padding: 0;
    position: relative;
  }

  label {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
    color: $foundation-grayscale-shade-88;
    gap: 0 8px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    padding: 0 8px;
    @include centerLeft;
    &:hover {
      color: $foundation-grayscale-shade-33;
    }

    &:first-child {
      padding-left: 0;
      color: $foundation-grayscale-shade-33;
      &::after {
        @include afterBar;
      }
    }
  }
}

.contit {
  // position: relative;
  // flex-direction: column;
  // gap: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 12px 8px;
  & > * {
    line-height: 100%;
    letter-spacing: -0.32px;
    font-size: 24px;
    font-weight: 500;
    color: $foundation-grayscale-shade-33;
    padding-left: 0;
  }
  h3 {
    font-size: 18px;
    padding-left: 0;
  }
  p {
    font-size: 16px;
    color: $foundation-grayscale-shade-66;
    position: relative;
  }
}

:global(.mainWrap) {
  //메인 제목일 경우
  .contit {
    position: relative;
    padding: 23px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    h3 {
      padding-left: 0;
      font-weight: 600;
      min-height: 18px;
    }
  }
}
