@use '@/shared/styles/abstracts/figma-token' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  //padding: 16px;
}

.treeContainer {
  max-height: 550px;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  //padding: 8px;
}

.emptyMessage {
  padding: 60px;
  text-align: center;
  color: #999;
}

.buttonContainer {
  flex-shrink: 0;
  padding: 0;
  margin-top: 16px;

  :global(.buttonGroup) {
    display: flex;
    border: 1px solid $foundation-light-line-shade-100;
    background-color: $foundation-light-line-shade-100;
    gap: 1px;
    border-radius: 10px;
    overflow: hidden;

    button {
      flex: 1;
      border: none;
      border-radius: 0;
      padding: 12px 16px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.2s ease;
    }
  }
}
