@use '@/shared/styles/abstracts/_figma-token' as *;

:global(.loginBg) {
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.footer {
  width: 100%;
  // padding: 24px 0;
  padding-bottom: 36px;
  margin-top: auto;
}

.footerContent {
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  // justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
}

.footerBrand {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footerLogo {
  font-size: 20px;
  font-weight: 700;
  color: $foundation-primary-font;
}

.footerInfo,
.footerCopyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: right;
  text-transform: capitalize;

  color: $foundation-grayscale-base-shade-40;
}
