// src/shared/styles/base/_base.scss
// HTML, body, a 태그 등 가장 기본적인 요소들의 스타일을 정의합니다.
// 프로젝트의 전반적인 타이포그래피, 링크 스타일 등을 이곳에서 설정합니다.

@use '../abstracts/variables' as *;

* {
  color: $text-color;
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
}
body {
  background: $background-color;
  overflow-y: hidden;
}
a,
button,
label {
  cursor: pointer;
}
input:focus-visible {
  outline: none;
}
i {
  font-style: normal;
}
