// src/shared/styles/base/_base.scss
// HTML, body, a 태그 등 가장 기본적인 요소들의 스타일을 정의합니다.
// 프로젝트의 전반적인 타이포그래피, 링크 스타일 등을 이곳에서 설정합니다.

@use '../abstracts/variables' as *;
@use '../abstracts/figma-token' as *;
@use '@/shared/styles/base/_mixins.scss' as *;

* {
  color: $text-color;
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;

  //스크롤바 넓이
  &::-webkit-scrollbar {
    width: calc($barWidth + 2 * $barMargin);
    height: calc($barWidth + 2 * $barMargin);
    box-sizing: content-box;
  }

  //스크롤바 배경
  &::-webkit-scrollbar-track {
    background: transparent;
    box-sizing: content-box;
  }

  //스크롤바
  &::-webkit-scrollbar-thumb {
    background: $foundation-light-grid;
    border-radius: calc($barWidth + 2 * $barMargin);
    border: $barMargin solid $background-color; //여백
  }
}

body {
  background: $background-color;
  overflow-y: hidden;
  min-width: 1440px;
  max-width: 1920px;
  margin: 0 auto;

  //스크롤바 배경
  &::-webkit-scrollbar-thumb {
    border: $barMargin solid $background-color; //여백
  }
}

.scroll-locked {
  overflow: hidden !important;
}
.innerWrap {
  @include bgfffScroll;
}

a,
button {
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }
}
input:focus-visible {
  outline: none;
}
i {
  font-style: normal;
}

// Heading styles (H1-H6)
h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  color: $text-color;
  letter-spacing: -0.64px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  color: $text-color;
  letter-spacing: -0.48px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  color: $text-color;
  letter-spacing: -0.36px;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: $text-color;
  letter-spacing: -0.32px;
}

h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  color: $text-color;
  letter-spacing: -0.28px;
}

h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  color: $text-color;
  letter-spacing: -0.24px;
}
