@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins.scss' as *;
// 전역 스타일로 사용
// CSS Module for member layout
.main {
  height: 100vh;
}

.loginBg {
  position: relative;
  background: url('/login_bg.png') no-repeat bottom;
  background-size: cover;
}

.containWrap {
  height: 100%;
  display: flex;
}
.innerLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  min-width: 960px;
  padding: $inner-pTop $without-scroll 0 $inner-side-p; //스크롤 제외
}

//메인 별도 스크롤 스타일
.main {
  .mainLayout {
    overflow-y: scroll;
    padding: $inner-pTop $without-scroll 0 $inner-side-p; //스크롤 제외

    &:focus-visible {
      outline: none;
    }

    .pageWrap.mainPageWrap {
      display: block;
      .mainWrap {
        min-height: $main-totalHeight;
      }
      .txtBtnWrap > div {
        padding-bottom: 0;
      }
    }
  }
}

//메인 별도 스타일

.hasItem02 {
  @include hasItem;
  & > div,
  & > li,
  & > label {
    flex-grow: 1;
    width: calc(100% / 2 - 12px);
  }
}
.hasItem03 {
  @include hasItem;
  & > div,
  & > li {
    flex-grow: 1;
    width: calc(100% / 3 - 8px);

    &.itemColAll {
      // 1:2 상황에서 3의 넓이
      width: 100%;
      flex-grow: 0;
    }
    &.itemCol1 {
      // 1:2 상황에서 1의 넓이
      flex-grow: 0;
    }
    &.itemCol2 {
      // 1:2 상황에서 2의 넓이
      flex-grow: 0;
      width: calc(100% / 3 * 2 - 8px);
    }
    &.gridFull,
    & :global(.gridFull) {
      //가로 한줄 전체
      grid-column: 1 / -1;
      width: 100%;
    }
  }
}
.hasItem04 {
  @include hasItem;
  & > div,
  & > li {
    flex-grow: 1;
    width: calc(100% / 4 - 9px);

    &.itemCol1 {
      // 1:3 상황에서 1의 넓이
      flex-grow: 0;
    }
    &.itemCol3 {
      // 1:3 상황에서 3의 넓이
      flex-grow: 0;
      width: calc(100% / 4 * 3 - 9px);
    }
    & :global(.gridFull),
    &.gridFull {
      //가로 한줄 전체
      grid-column: 1 / -1;
      width: 100%;
    }
  }
}
.depthSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 12px;
  background-color: $foundation-light-grid;
  padding: 20px 28px;

  border: 1px solid $foundation-primary-alpha-20percent;
  border-left: 0;
  border-right: 0;
  background: $foundation-light-bg;

  &.noBg {
    //배경색없음
    background: none;
    border: 0;
  }

  & > div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  & > .gridFull {
    //가로 한줄 전체
    grid-column: 1 / -1;
    width: 100%;
  }
}
.largeGapSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px 12px;
  padding: 64px 28px;

  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

//흰색 박스 레이아웃
.boxStyle {
  @include boxStyle;
}

.txtBtnWrap {
  .btnGroup {
    padding-bottom: 20px;
  }
}

// 첨부파일 리스트
$fileNameList-margin: 8px;

.fileNameList {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  padding: $basic-padding;
  width: 100%;
  left: 0;
  border-radius: $wrap-radious;
  border: 1px solid $foundation-light-grid;
  background: $foundation-light-base-shade-100;
  box-shadow: 20px -8px 20px 0 $list-shadow;
  margin-bottom: $fileNameList-margin;
  transition: $transition-base;
  &::after {
    content: '';
    height: $fileNameList-margin + 16px;
    width: 100%;
    display: block;
    // background-color: #ccc;
    background-color: transparent;
    position: absolute;
    bottom: -($fileNameList-margin + 16px);
    left: 0;
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }

  .fileNameBtn {
    @include centerLeft;
    gap: 4px;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &:hover {
    cursor: cell;
  }
}

// 정렬 (세로 - 가로)
//중앙 - 왼쪽
.centerLeft {
  @include centerLeft;
}
//중앙 - 중앙
.centerCenter {
  @include centerCenter;
}

//중앙 - 오른쪽
.centerRight {
  @include centerRight;
}

//상단 왼쪽
.topLeft {
  @include topLeft;
}
//상단 - 중앙
.topCenter {
  @include topCenter;
}
//상단 - 오른쪽
.topRight {
  @include topRight;
}

//하단 왼쪽
.btmLeft {
  @include btmLeft;
}
//하단 - 중앙
.btmCenter {
  @include btmCenter;
}
//하단 - 오른쪽
.btmRight {
  @include btmRight;
}

// 버튼들 정렬/사이여백
.btnWrap {
  @include centerLeft;
  flex-direction: row;
  gap: 8px;
}

// 글자정렬
.txtCenter {
  text-align: center;
}
.txtRight {
  text-align: right;
}
.txtLeft {
  text-align: left;
}

// 인풋+버튼 높이맞추기
.inputBtnArea {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  button {
    height: 48px;
    min-width: 80px;
    font-size: 12px;
  }
}
