@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins.scss' as *;
// CSS Module for member layout
.main {
  height: 100vh;
}

.containWrap {
  height: 100%;
  display: flex;
}
.innerLayout {
  height: 100%;
  width: calc(100% - 300px);
  min-width: 850px;
  padding: 28px 48px 0;
}
//스크롤되는 페이지 내부 영역(PageTit 영역 제외)
.pageScroll {
  height: calc(100% - 80px);
  overflow: auto;
}
.pageWrap {
  height: calc(100vh - 110px);
}

.hasItem02 {
  @include hasItem;
  > div {
    flex-grow: 1;
    width: calc(100% / 2 - 12px);
  }
}
.hasItem03 {
  @include hasItem;
  > div {
    flex-grow: 1;
    width: calc(100% / 3 - 8px);

    &.itemCol1 {
      // 1:2 상황에서 2의 넓이
      flex-grow: 0;
      width: calc((100% / 3 - 8px) * 2);
    }
    &.itemCol2 {
      // 1:2 상황에서 2의 넓이
      flex-grow: 0;
      width: calc((100% / 3 - 8px) * 2);
    }
  }
}
.hasItem04 {
  @include hasItem;
  > div {
    flex-grow: 1;
    width: calc(100% / 4 - 9px);

    &.itemCol1 {
      // 1:3 상황에서 3의 넓이
      flex-grow: 0;
    }
    &.itemCol3 {
      // 1:3 상황에서 3의 넓이
      flex-grow: 0;
      width: calc((100% / 4 - 9px) * 3);
    }
  }
}

//흰색 박스 레이아웃
.boxStyle {
  @include basic_box;
  padding: $basic-padding;
  cursor: auto;
  overflow: inherit;
  position: relative;
}

// 첨부파일 리스트
$fileNameList-margin: 8px;

.fileNameList {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  background: $foundation-light-base-shade-100;
  padding: $basic-padding;
  width: 100%;
  left: 0;
  border-radius: $wrap-radious;
  border: 1px solid $foundation-light-grid;
  background: $foundation-light-base-shade-100;
  box-shadow: 20px -8px 20px 0 $list-shadow;
  margin-bottom: $fileNameList-margin;
  transition: $second03;
  &::after {
    content: '';
    height: $fileNameList-margin + 16px;
    width: 100%;
    display: block;
    // background-color: #ccc;
    background-color: transparent;
    position: absolute;
    bottom: -($fileNameList-margin + 16px);
    left: 0;
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }

  .fileNameBtn {
    @include centerLeft;
    gap: 4px;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &:hover {
    cursor: cell;
  }
}

// 정렬 (세로 - 가로)
//중앙 - 왼쪽
.centerLeft {
  @include centerLeft;
}
//중앙 - 중앙
.centerCenter {
  @include centerCenter;
}

//중앙 - 오른쪽
.centerRight {
  @include centerRight;
}

//상단 왼쪽
.topLeft {
  @include topLeft;
}
//상단 - 중앙
.topCenter {
  @include topCenter;
}
//상단 - 오른쪽
.topRight {
  @include topRight;
}

//하단 왼쪽
.btmLeft {
  @include btmLeft;
}
//하단 - 중앙
.btmCenter {
  @include btmCenter;
}
//하단 - 오른쪽
.btmRight {
  @include btmRight;
}

// 버튼들 정렬/사이여백
.btnWrap {
  @include centerLeft;
  flex-direction: row;
  gap: 8px;
}

// 글자정렬
.txtCenter {
  text-align: center;
}
.txtRight {
  text-align: right;
}
.txtLeft {
  text-align: left;
}
