@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;

@mixin hasItem {
  @include topLeft;
  width: 100%;
  gap: 20px 12px;
}
// flex 정렬 //부모요소에 적용
//중앙 - 왼쪽
@mixin centerLeft {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
//중앙 - 중앙
@mixin centerCenter {
  @include centerLeft;
  justify-content: center;
}

//중앙 - 오른쪽
@mixin centerRight {
  @include centerLeft;
  justify-content: flex-end;
}

//상단 왼쪽
@mixin topLeft {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
//상단 - 중앙
@mixin topCenter {
  @include topLeft;
  justify-content: center;
}
//상단 - 오른쪽
@mixin topRight {
  @include topLeft;
  justify-content: flex-end;
}

//하단 왼쪽
@mixin btmLeft {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
//하단 - 중앙
@mixin btmCenter {
  @include btmLeft;
  justify-content: center;
}
//하단 - 오른쪽
@mixin btmRight {
  @include btmLeft;
  justify-content: flex-end;
}

// active reset
@mixin activeStyleReset {
  background: none;
  color: inherit;
  font-weight: normal;
}

@mixin activeStyle($use: true) {
  // @include activeStyle(false); 하면 취소 가능
  //아코디언 열렸을때
  @if $use {
    background: $primary-border;
    color: $primary-color;
    font-weight: 500;
  } @else {
    @include activeStyleReset;
  }
}

@mixin hoverStyle($use: true) {
  // @include hoverStyle(false); 하면 취소 가능
  //마우스 올렸을 때 선 색 생김
  border: 1px solid $hover-border;
  //활성화 중일 때
  background: $round-border;
  color: $fff;
}

@mixin menuA {
  display: flex;
  align-items: center;
  gap: 0 8px;
}

// 버튼 공통
@mixin btnBasic {
  @include centerCenter;
  padding: 8px 12px;
  min-width: 45px;
  gap: 4px;
  border-radius: $basic-radious;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.24px;
  cursor: pointer;
  transition: $second03;
}
// 버튼 색상

@mixin btnPrimeColor {
  //주요버튼
  border: 1px solid $foundation-primary-font;
  background-color: $foundation-primary-bg;
  color: $foundation-light-base-shade-100;
  &:hover {
    border: 1px solid $foundation-primary-alpha-8percent;
    background-color: $foundation-primary-alpha-80percent;
  }
}

@mixin btnSeconColor {
  //보조버튼
  border: 1px solid $foundation-primary-alpha-8percent;
  background-color: $foundation-primary-alpha-20percent;
  color: $foundation-primary-bg;
  &:hover {
    background-color: $foundation-primary-alpha-40percent;
  }
}

@mixin btnBasicColor {
  //일반흰색
  background-color: $foundation-light-base-shade-100;
  border: 1px solid $foundation-grayscale-base-shade-8;
  color: $foundation-grayscale-shade-33;
  &:hover {
    background-color: $foundation-light-bg;
    border: 1px solid $foundation-primary-alpha-8percent;
  }
}
// 인풋 리셋
@mixin input_reset {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

// 인풋 기본 박스 스타일
@mixin basic_box {
  @include centerCenter;
  justify-content: space-between;
  // align-self: stretch;
  border-radius: $wrap-radious;
  border: 1px solid $secondary-border;
  background-color: $foundation-light-base-shade-100;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  gap: 13px 0;
  input {
    width: 100%;
    padding: 11px 16px;
    &::placeholder {
      color: $placeholder-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
    }
    &:disabled {
      background: $foundation-grayscale-base-shade-4;
      cursor: default;
    }
  }
}

// 파일인풋
@mixin input_file {
  input[type='file'] {
    //reset
    @include input_reset;
  }
}

// 기본 파일첨부 알맹이 정렬
@mixin fileTxtBasic {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.28px;
}

// 파란 밑줄 파일명
@mixin file_name {
  cursor: pointer;
  span {
    @include fileTxtBasic;
    padding-right: 4px;
    color: $file-color;
    text-decoration: underline;
  }
  i {
    @include centerCenter;
    width: 16px;
    height: 16px;
  }
}

// 텍스트 말줄임
@mixin txt_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 인풋 search
@mixin searchInput {
  color: $primary-color;
  font-weight: 500;
  position: relative;
  z-index: 1;

  /* IE */
  &::-ms-clear,
  &::-ms-reveal {
    opacity: 0;
    cursor: pointer;
  }
  /* chrome */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    opacity: 0;
    cursor: pointer;
  }
}

// 테이블
@mixin basic_table {
  width: 100%;
}

// 테이블thtd
@mixin basic_thtd {
  border-right: 1px solid;
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  padding: 13px 0;

  &:last-child {
    border-right: 0;
  }
}
