@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;

// flex 정렬 //부모요소에 적용
//중앙 - 왼쪽
@mixin centerLeft {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
//중앙 - 중앙
@mixin centerCenter {
  @include centerLeft;
  justify-content: center;
}

//중앙 - 오른쪽
@mixin centerRight {
  @include centerLeft;
  justify-content: flex-end;
}

//상단 왼쪽
@mixin topLeft {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
//상단 - 중앙
@mixin topCenter {
  @include topLeft;
  justify-content: center;
}
//상단 - 오른쪽
@mixin topRight {
  @include topLeft;
  justify-content: flex-end;
}

//하단 왼쪽
@mixin btmLeft {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
//하단 - 중앙
@mixin btmCenter {
  @include btmLeft;
  justify-content: center;
}
//하단 - 오른쪽
@mixin btmRight {
  @include btmLeft;
  justify-content: flex-end;
}

// 인풋 정렬시 itemAlign + hasItem(인풋개수) class 두개 다 사용
@mixin btmRight {
  @include topLeft;
  width: 100%;
  gap: 20px 12px;

  &.hasItem02 {
    > div {
      width: calc(100% / 2 - 12px);
    }
  }
  &.hasItem03 {
    > div {
      width: calc(100% / 3 - 8px);
    }
  }
  &.hasItem04 {
    > div {
      width: calc(100% / 4 - 9px);
    }
  }
}

@mixin activeStyle {
  //아코디언 열렸을때
  background: $primary-border;
  color: $primary-color;
  font-weight: 500;
}

@mixin hoverStyle {
  //마우스 올렸을 때 선 색 생김
  border: 1px solid $hover-border;
  //활성화 중일 때
  background: $round-border;
  color: $fff;
}

// 메뉴공통
@mixin menuHover {
  background: $menu-active;
  color: $primary-color;
  font-weight: 500;
  svg {
    transform: rotate(180deg);
  }
}

@mixin menuA {
  display: flex;
  align-items: center;
  gap: 0 8px;
}

// 버튼 공통
@mixin btnBasic {
  display: flex;
  padding: 8px 12px;
  min-width: 45px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: $basic-radious;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.24px;
  cursor: pointer;
  transition: 0.3s;
}
// 버튼 색상

@mixin btnPrimeColor {
  //주요버튼
  border: 1px solid $foundation-primary-font;
  background-color: $foundation-primary-bg;
  color: $foundation-light-base-shade-100;
  &:hover {
    border: 1px solid $foundation-primary-alpha-8percent;
    background-color: $foundation-primary-alpha-80percent;
  }
}

@mixin btnSeconColor {
  //보조버튼
  border: 1px solid $foundation-primary-alpha-8percent;
  background-color: $foundation-primary-alpha-20percent;
  color: $foundation-primary-bg;
  &:hover {
    background-color: $foundation-primary-alpha-40percent;
  }
}

@mixin btnBasicColor {
  //일반흰색
  background-color: $foundation-light-base-shade-100;
  border: 1px solid $foundation-grayscale-base-shade-8;
  color: $foundation-grayscale-shade-33;
  &:hover {
    background-color: $foundation-light-bg;
    border: 1px solid $foundation-primary-alpha-8percent;
  }
}

// 인풋 기본 박스 스타일
@mixin basic_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  border-radius: $wrap-radious;
  border: 1px solid $secondary-border;
  background-color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  input {
    width: 100%;
    padding: 11px 16px;
    &::placeholder {
      color: $placeholder-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
    }
    &:disabled {
      background: rgba(0, 0, 0, 0.04);
      cursor: default;
    }
  }
}
