@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins' as *;

.tableLayout {
  padding-top: 20px;
  > div {
    border-radius: $wrap-radious;
    border: 1px solid $primary-border;
    overflow: hidden;
  }
  table {
    @include basic_table;
    thead {
      tr {
        border-bottom: 0;
        text-align: center;
        background: $hover-color;
        overflow: hidden;
        th {
          @include basic_thtd;
          border-right-color: $primary-border;
        }
      }
    }
  }
  tbody {
    tr {
      border-top: 1px solid $primary-border;
      // border-bottom: 1px solid $primary-border;
      background: $foundation-light-base-shade-100;
      cursor: pointer;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        td {
          @include activeStyle;
          font-weight: 400;
        }
      }
      td {
        @include basic_thtd;
        border-right-color: rgba(210, 223, 255, 0.2);
        transition: $second02;
      }
      &.numberTd {
        width: 80px;
      }
    }
    overflow-y: auto;
  }
}
.table {
  @include basic_table;
  thead {
    tr {
      border-bottom: 0;
      text-align: center;
      background: $hover-color;
      overflow: hidden;
      th {
        @include basic_thtd;
        border-right-color: $primary-border;
      }
    }
  }
  tbody {
    tr {
      border-top: 1px solid $primary-border;
      // border-bottom: 1px solid $primary-border;
      background: $foundation-light-base-shade-100;
      cursor: pointer;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        td {
          @include activeStyle;
          font-weight: 400;
        }
      }
      td {
        @include basic_thtd;
        border-right-color: rgba(210, 223, 255, 0.2);
        transition: $second02;
      }
      &.numberTd {
        width: 80px;
      }
    }
    overflow-y: auto;
  }
}

// 한줄짜리

@mixin name {
  width: 120px;
  background-color: $foundation-light-grid;
  color: $foundation-grayscale-shade-66;
}

.postInfoBox {
  .table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    tbody {
      tr {
        cursor: default;
        border: 0;
        th,
        td {
          border: 1px solid $foundation-light-grid;
          box-sizing: border-box;
          font-size: 14px;
          text-align: left;
          padding: $basic-padding;
          font-weight: normal;
          position: relative;
          input {
            width: 100%;
          }
        }
        th {
          @include name;
          cursor: default;
        }
        td {
          input {
            width: 100%;
          }
        }
        &:first-child {
          th:first-child,
          td:first-child {
            border-top-left-radius: $wrap-radious;
          }
          th:last-child,
          td:last-child {
            border-top-right-radius: $wrap-radious;
          }
        }
        &:nth-child(2) th,
        &:nth-child(2) td {
          border-top: 0;
        }
        &:last-child {
          th:first-child,
          td:first-child {
            border-bottom-left-radius: $wrap-radious;
          }
          th:last-child,
          td:last-child {
            border-bottom-right-radius: $wrap-radious;
          }
        }
        &:hover {
          th,
          td {
            @include activeStyle(false);
          }
          th {
            @include name;
          }
        }
      }
    }
  }
}
