@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins' as *;

//퍼블용

.tableLayout {
  padding-top: 20px;
  > div {
    border: 1px solid $primary-border;
  }
  table {
    @include basic_table;
    border-radius: $wrap-radious;
    overflow: hidden;
    thead {
      tr {
        border-bottom: 0;
        text-align: center;
        background: $hover-color;
        overflow: hidden;
        th {
          @include basic_thtd;
          & {
            border-right-color: $primary-border;
          }
        }
      }
    }
  }
  tbody {
    overflow-y: scroll;
    tr {
      & {
        border-top: 1px solid $primary-border;
        background: $foundation-light-base-shade-100;
        cursor: pointer;
      }
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        td {
          @include activeStyle;
          font-weight: 400;
        }
      }
      &.numberTd {
        width: 80px;
      }
      td {
        @include basic_thtd;
        & {
          border-right-color: rgba(210, 223, 255, 0.2);
          transition: $transition-base;
        }
      }
    }
  }
}
.table {
  @include basic_table;
  thead {
    tr {
      border-bottom: 0;
      text-align: center;
      background: $hover-color;
      overflow: hidden;
      th {
        @include basic_thtd;
        & {
          border-right-color: $primary-border;
        }
      }
    }
  }
  tbody {
    tr {
      border-top: 1px solid $primary-border;
      // border-bottom: 1px solid $primary-border;
      background: $foundation-light-base-shade-100;
      cursor: pointer;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        td {
          @include activeStyle;
          font-weight: 400;
        }
      }
      td {
        @include basic_thtd;
        & {
          border-right-color: rgba(210, 223, 255, 0.2);
          transition: $transition-base;
        }
      }
      &.numberTd {
        width: 80px;
      }
    }
    overflow-y: scroll;
  }
}

// 한줄짜리

@mixin name {
  width: 120px;
  background-color: $foundation-light-grid;
  color: $foundation-grayscale-shade-66;
}
.postInfoBox {
  .table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    tbody {
      tr {
        cursor: default;
        border: 0;
        th,
        td {
          & {
            border: 1px solid $foundation-light-grid;
            box-sizing: border-box;
            font-size: 14px;
            text-align: left;
            padding: 0;
            font-weight: normal;
            position: relative;
            line-height: 100%;
            letter-spacing: -0.28px;
          }
          & > div {
            border: 0;
          }
          input {
            width: 100%;
          }
        }
        th {
          @include name;
          padding: $basic-padding;
          cursor: default;
        }
        td {
          input[type='text'],
          label {
            width: 100%;
            min-height: 47px;
            padding: 0 16px;
          }
        }
        &:first-child {
          th:first-child,
          td:first-child {
            border-top-left-radius: $wrap-radious;
          }
          th:last-child,
          td:last-child {
            border-top-right-radius: $wrap-radious;
          }
        }
        &:nth-child(2) th,
        &:nth-child(2) td {
          border-top: 0;
        }
        &:last-child {
          th:first-child,
          td:first-child {
            border-bottom-left-radius: $wrap-radious;
          }
          th:last-child,
          td:last-child {
            border-bottom-right-radius: $wrap-radious;
          }
        }
        &:hover {
          th,
          td {
            @include activeStyle(false);
          }
          th {
            @include name;
          }
        }
      }
    }
  }

  .postInfoEmpty {
    min-height: 300px;
    padding: 20px;
  }
}

//메뉴권한관리부분 내부 table 스타일
:global(.controlMemBox) {
  .postInfoBox {
    .table {
      tr td,
      tr th {
        border: 0;
        border-radius: 0 !important;
        border-bottom: 1px solid $foundation-light-grid;
      }
      tbody tr:last-child {
        td,
        th {
          border-bottom: 0;
        }
      }
    }
  }
}
