@use "@/shared/styles/abstracts/variables" as *;
@mixin basic_table {
  width: 100%;
}

@mixin basic_tr {
}
@mixin basic_thtd {
  border-right: 1px solid;
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  padding: 13px 0;

  &:last-child {
    border-right: 0;
  }
}
