@use './inputBasic.scss' as basic;
.inputTxt{
    @include basic.basic_box;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    @include basic.basic_box;
    
    &[type="text"]{
        color: #333;
        cursor: text;
    }
    &[type="password"]{

    }
    &[type="number"]{

    }
    &[type="search"]{
        color: #5036BA;
    }
    &:disabled{
        background: rgba(0, 0, 0, 0.04);
        cursor: default;
    }
}