@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins.scss' as *;

.pageWrap {
  height: calc(100vh - ($pageWrap-margin));
}

$pageScrollGap: 6vw;
.pageScroll {
  height: calc(100% - ($pageTit-pBtm + $pageTit-h2));
  overflow: auto;
  display: flex;
  justify-content: space-between;
  // gap: 0 $pageScrollGap;
}

// $PageLeftWidth: 480px;
.pageLeftWrap {
  min-width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  overflow-y: auto;
}

.pageRightWrap {
  width: 912px;
  display: flex;
  flex-direction: column;
}

.txtBtnWrap {
  @include topLeft;
  justify-content: space-between;
}

// 라운딩 사각형
.roundedLgWrap {
  @include topLeft;
  border-radius: 28px 28px 0 0;
  border: 1px solid $foundation-light-line-shade-100;
  border-bottom: 0;
  overflow-y: auto;
  flex-grow: 1;
  flex-direction: column;
  background-color: $foundation-light-base-shade-100;
  &::-webkit-scrollbar-thumb {
    background: $foundation-light-grid;
    border: $barMargin solid $foundation-light-base-shade-100; //여백
  }
}

.roundedSmWrap {
  @include boxStyle;
}

// +아이콘 업로드
.upBoxWrap {
  @include basicBox;
  .plusWrap {
    height: 96px;
    @include centerCenter;
  }
  .uploadBoxName {
    @include centerCenter;
    border-top: 1px solid $foundation-light-line-shade-100;
    min-height: 48px;

    span {
      @include txt_ellipsis;
      font-weight: 400;
      line-height: 100%;
      max-width: 100%;
      min-width: 0;
    }
  }

  // 파일
  &.fileBox {
    @include input_file;
    .fileBoxName {
      padding: 0px 10px;
      span {
        color: $foundation-grayscale-shade-88;
        text-align: center;
        font-size: 14px;
      }
    }

    .fileDelete {
      @include file_name;
      @include centerCenter;
      @include txt_ellipsis;
      max-width: 100%;
      gap: 0 4px;
      span {
        width: calc(100% - 20px);
      }
    }
  }

  // 결재
  &.statusBox {
    .inputSearch {
      border: 0;
    }
  }

  // 추가전 레이아웃
  &.emptyBox {
    background: none;
    border-style: dashed;
    cursor: pointer;
    &:hover {
      border-style: solid;
      .uploadBoxName {
        border-style: solid;
      }
    }

    .uploadBoxName {
      border-style: dashed;
      span {
        color: $foundation-grayscale-shade-75;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

.inputDataWrap {
  //인풋 결과값
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

//wrapper 내부 공통 레이아웃
.roundInnerLg {
  @include topLeft;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  // gap: 40px 0;
  & > div {
    padding: 13px 28px 33px;
    &.hasGap64 {
      padding: 64px 28px;
    }
  }
}
// .roundInnerSm {
//   @include topLeft;
//   padding:15px 12px ;
//   gap: 64px 0;
// }
.innerBox {
  @include boxStyle;
}
.innerGray {
  border: 1px solid $foundation-primary-alpha-20percent;
  border-left: 0;
  border-right: 0;
  background: $foundation-light-bg;
}
.hasGap64 {
  @include topLeft;
  flex-direction: column;
  padding: 64px 0;
  gap: 64px 0;
}
.conTitWrap {
  @include topLeft;
  justify-content: space-between;
  position: relative;
  padding: 28px !important;
}

$main-left: 640px;
$main-gap: 16px;

@mixin mainCon {
  display: flex;
  // flex-grow: 1;
  gap: $main-gap;
  flex-direction: column;
}

.mainWrap {
  display: flex;
  gap: $main-gap;
  flex-wrap: wrap;
  height: calc(100% - 100px);
  .mainLeft {
    max-width: $main-left;
    width: 50%;
    height: 100%;
    @include mainCon;
  }
  .mainRight {
    width: calc(100% - ($main-left + $main-gap));
    min-width: calc(50% - $main-gap);
    height: 100%;
    @include mainCon;
    :global(.innerWrap) {
      flex: 1;
    }
  }
  :global(.innerWrap) {
    @include basicBox;
    flex-grow: 1;
    box-shadow: $main-shadow;
    overflow: hidden auto;
    padding: 13px 20px;
    flex: 1;

    .conTit {
      h3 {
        color: $foundation-grayscale-shade-33;
      }
      h3,
      h3 span {
        font-weight: 600;
      }
    }

    .mainNumTag {
      background: url(/public/mainPaymentBg.png) lightgray 50% / cover no-repeat;
    }
  }
}
