@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins.scss' as *;

//레이아웃 예시에 사용(퍼블리싱용)

@mixin container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  min-width: 960px;
  padding: 28px 48px 0 48px;
}

.container {
  @include container;
  &.pageWrap {
    @include container;
  }

  // 큰버튼 설정
  & > .txtBtnWrap button {
    @include btnHeightLarge;
  }
}

// 메인 별도
.main {
  .mainLayout {
    overflow-y: scroll;
    padding: $inner-pTop 48px;
  }
  .mainWrap {
    min-height: $main-totalHeight;
  }
}

.content {
  overflow-y: scroll;
  display: block;
}

$pageScrollGap: 6vw;
.contentSplit,
.pageScroll {
  // overflow-y: scroll;s
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0 $pageScrollGap;
  flex: 1;
}
.pageContent {
  overflow-y: scroll;
  display: block;
  padding-bottom: 25px;
}
.pageBasic {
  width: 100%;
}

// $PageLeftWidth: 480px;
.contentLeft,
.pageLeftWrap {
  max-width: 480px;
  width: calc(50% - 20px);
  margin-right: 20px;
  display: inline-block;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 40px;
    }

    &:global(.hasItem03) {
      gap: 20px 12px;
      flex-direction: unset;
    }
  }
}

.pageRightWrap {
  max-width: 912px;
  width: calc(100% - 500px);
  min-width: 50%;
  display: block;
  position: relative;
}

.txtBtnWrap {
  @include btmLeft;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: $pageTit-pBtm;

  // 큰버튼 설정
  @at-root :global(.pageWrap) {
    & > .txtBtnWrap button {
      @include btnHeightLarge;
    }
  }
}

// 라운딩 사각형
.roundedLgWrap {
  @include roundedLgWrap;
}
// 라운딩 사각형 배경 회색
.roundedLgWrapGray {
  @include roundedLgWrapGray;
}
// 라운딩 사각형 배경색 = body bgc
.roundedLgWrapNobg {
  @include roundedLgWrap;
  & {
    background: none;
  }
}

.roundedSmWrap {
  @include boxStyle;
}

// +아이콘 업로드
.upBoxWrap {
  @include basicBox;
  .plusWrap {
    height: 96px;
    @include centerCenter;
  }
  .uploadBoxName {
    @include centerCenter;
    border-top: 1px solid $foundation-light-line-shade-100;
    min-height: 48px;

    span {
      @include txt_ellipsis;
      font-weight: 400;
      line-height: 100%;
      max-width: 100%;
      min-width: 0;
    }
  }

  // 파일
  &.fileBox {
    @include input_file;
    .fileBoxName {
      padding: 0px 10px;
      span {
        color: $foundation-grayscale-shade-88;
        text-align: center;
        font-size: 14px;
      }
    }

    .fileDelete {
      @include file_name;
      @include centerCenter;
      @include txt_ellipsis;
      max-width: 100%;
      gap: 0 4px;
      span {
        width: calc(100% - 20px);
      }
    }
  }

  // 결재
  &.statusBox {
    .inputSearch {
      border: 0;
    }
  }

  // 추가전 레이아웃
  &.emptyBox {
    background: none;
    border-style: dashed;
    cursor: pointer;
    &:hover {
      border-style: solid;
      .uploadBoxName {
        border-style: solid;
      }
    }

    .uploadBoxName {
      border-style: dashed;
      span {
        color: $foundation-grayscale-shade-75;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

//인풋 결과값
.inputDataWrap {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

//wrapper 내부 공통 레이아웃
.roundInnerLg {
  @include topLeft;
  align-items: stretch;
  flex-direction: column;
  width: 100%;

  &.hasGap64 {
    padding: 64px 28px;
  }
}

.innerBox {
  @include boxStyle;
}

.innerGray {
  // border: 1px solid $foundation-primary-alpha-20percent;
  // border-left: 0;
  // border-right: 0;
  background: $foundation-light-bg;
}

.hasGap64 {
  @include topLeft;
  flex-direction: column;
  padding: 64px 0;
  gap: 64px 0;
}

.depthSection {
  display: grid;
  gap: 20px 12px;
  padding: 20px 28px;
  background-color: $foundation-light-bg;
  border: 1px solid $foundation-primary-alpha-20percent;
  border-left: 0;
  border-right: 0;

  // 공통 내부 div
  & > div {
    display: flex;
    width: 100%;
  }

  // 2개 배열 (hasItem02)
  &:global(.hasItem02) {
    grid-template-columns: repeat(2, 1fr);
  }

  // 3개 배열 (hasItem03)
  &:global(.hasItem03) {
    grid-template-columns: repeat(3, 1fr);

    & > div {
      // 기본은 1칸(span 1)
      grid-column: span 1;

      &.itemColAll {
        grid-column: 1 / -1; // 전체
      }

      &.itemCol1 {
        grid-column: span 1; // 1칸
      }

      &.itemCol2 {
        grid-column: span 2; // 2칸(= 1:2 구조 중 큰 칸)
      }

      &.itemCol3 {
        grid-column: span 3; // 3칸 전체
      }

      // 글로벌 gridFull 대응
      &.gridFull,
      :global(.gridFull) {
        grid-column: 1 / -1;
        width: 100%;
      }
    }
  }

  // 4개 배열 (hasItem04)
  &:global(.hasItem04) {
    grid-template-columns: repeat(4, 1fr);

    & > div {
      grid-column: span 1; // 기본

      &.itemCol1 {
        grid-column: span 1;
      }

      &.itemCol3 {
        grid-column: span 3; // 3칸(= 1:3 구조)
      }
    }
  }

  // 공통: 한 줄 전체 (gridFull)
  & > .gridFull,
  & > :global(.gridFull) {
    grid-column: 1 / -1;
    width: 100%;
  }

  // 배경 제거
  &.noBg {
    background: none;
    border: 0;
  }
}

.largeGapSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px 12px;
  padding: 64px 28px;

  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.conTitWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding: 28px !important;
  padding-left: 40px !important;
  gap: 12px;
}

$main-left: 640px;
$main-gap: 16px;

@mixin mainCon {
  display: flex;
  gap: $main-gap;
  flex-direction: column;
}

.mainWrap {
  display: flex;
  gap: $main-gap;
  flex-wrap: wrap;
  height: calc(100% - (100px));

  .mainLeft {
    //메인 왼쪽
    max-width: $main-left;
    width: 50%;
    flex: 1;
    @include mainCon;

    :global(.innerWrap) {
      max-height: 200px;

      &.mainNumTag {
        background: url('/mainPaymentBg.png') left center no-repeat #faf9fd;
        background-size: auto 100%;
        @include fafScroll;
      }

      &.mainAssetsList {
        max-height: none;
      }

      &.mainQuickMenu {
        overflow-y: hidden;
      }
    }
  }

  .mainRight {
    width: calc(100% - ($main-left + $main-gap));
    min-width: calc(50% - $main-gap);
    flex: 1;
    @include mainCon;
  }
  :global(.innerWrap) {
    @include basicBox;
    position: relative;
    flex-grow: 1;
    box-shadow: $main-shadow;
    overflow: hidden auto;
    padding: 13px 20px;
    flex: 1;
    min-height: 155px;

    .contit {
      h3 {
        color: $foundation-grayscale-shade-33;
      }
      h3,
      h3 span {
        font-weight: 600;
      }
    }
  }
}
