@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins.scss' as *;

.PageWrap {
  height: calc(100vh - ($pageWrap-margin));
}

$PageScrollGap: 132px;
.PageScroll {
  height: calc(100% - ($pageTit-pBtm + $pageTit-h2));
  overflow: auto;
  display: flex;
  gap: 0 $PageScrollGap;
}

$PageLeftWidth: 480px;
.PageLeftWrap {
  width: $PageLeftWidth;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}

.PageRightWrap {
  width: calc(100% - ($PageScrollGap + $PageLeftWidth));
  display: flex;
}

.TxtBtnWrap {
  @include topLeft;
  justify-content: space-between;
}

// 라운딩 사각형
.RoundedLgWrap {
  padding: 13px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 28px 28px 0 0;
  border: 1px solid $foundation-light-line-shade-100;
  border-bottom: 0;
  overflow-y: auto;
  flex-grow: 1;
  // background-color: $foundation-light-base-shade-100;
}

// +아이콘 업로드
.UpBoxWrap {
  @include basicBox;
  .plusWrap {
    height: 96px;
    @include centerCenter;
  }
  .uploadBoxName {
    @include centerCenter;
    border-top: 1px solid $foundation-light-line-shade-100;
    min-height: 48px;

    span {
      @include txt_ellipsis;
      font-weight: 400;
      line-height: 100%;
      max-width: 100%;
      min-width: 0;
    }
  }

  // 파일
  &.fileBox {
    @include input_file;
    .fileBoxName {
      padding: 0px 10px;
      span {
        color: $foundation-grayscale-shade-88;
        text-align: center;
        font-size: 14px;
      }
    }

    .fileDelete {
      @include file_name;
      @include centerCenter;
      @include txt_ellipsis;
      max-width: 100%;
      gap: 0 4px;
      span {
        width: calc(100% - 20px);
      }
    }
  }

  // 결재
  &.statusBox {
    .inputSearch {
      border: 0;
    }
  }

  // 추가전 레이아웃
  &.emptyBox {
    background: none;
    border-style: dashed;
    cursor: pointer;
    &:hover {
      border-style: solid;
      .uploadBoxName {
        border-style: solid;
      }
    }

    .uploadBoxName {
      border-style: dashed;
      span {
        color: $foundation-grayscale-shade-75;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

.InputDataWrap {
  //인풋 결과값
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
