@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins.scss' as *;

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .description {
    font-size: 13px;
    color: $foundation-grayscale-shade-66;
    line-height: 140%;
    margin: 0;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .hint {
      font-size: 12px;
      color: $foundation-grayscale-shade-66;
      margin: 0;
      padding-left: 2px;
    }
  }
}

.footer {
  padding: 16px 24px 24px;
  display: flex;
  gap: 12px;
  border-top: 1px solid $foundation-light-line-shade-100;
}

.fullWidthButton {
  flex: 1;
  width: 100%;
}
