@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/_figma-token' as *;
@use '@/shared/styles/base/mixins.scss' as *;

.nameTag {
  border-radius: $name-radious;
  border: 1px solid $foundation-primary-bg;
  background-color: $foundation-light-base-shade-100;
  box-shadow:
    0 4px 8px 0 $name-shadow,
    0 12px 20px 0 $name-shadow;
  display: inline-flex;
  min-height: 200px;
  padding: 28px 28px 28px 30px;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  .nameMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    gap: 20px 0;
  }

  // 부서/연락처
  .teamTit {
    h3 {
      color: var(--Foundation-Grayscale-33, #333);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 8px;
    }
    p {
      display: flex;
      align-items: center;
      gap: 2px;
      align-self: stretch;
      font-size: 12px;
      font-weight: 400;
      line-height: 100%;
    }
  }

  // 이름/이메일
  .nameTxt {
    h2 {
      gap: 0 8px;
      @include centerLeft;

      span {
        color: $foundation-primary-font;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        &:last-child {
          font-size: 28px;
          font-weight: 600;
        }
      }
    }
    p {
      color: var(--Foundation-Grayscale-33, #333);
      font-size: 12px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0.48px;
      margin-top: 20px;
    }
  }

  // 사용자 사진+업로드
  .nameImgWrap {
    position: relative;
    input {
      display: none;
    }
    .nameImg {
      width: 100px;
      height: 100px;
      border-radius: 800px;
      border: 1px solid $foundation-primary-alpha-60percent;
      overflow: hidden;
      @include centerCenter;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      svg {
        width: 70px;
        height: auto;
      }
    }
    .nameImgAdd {
      position: absolute;
      z-index: 1;
      right: 4px;
      bottom: 4px;
    }
  }
}
