@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/_mixins.scss' as *;

.approve {
  //승인
  @include tagTxtBasic;
  color: $success-color;
}
.reject {
  //반려
  @include tagTxtBasic;
  color: $warning-color;
}
.pending {
  //미결
  @include tagTxtBasic;
  font-weight: 500;
  color: $pending-color;
}
.waiting {
  //대기
  @include tagTxtBasic;
  color: $waiting-color;
}

.text {
  letter-spacing: -0.32px;
}

.tableTxt {
  line-height: 100%;
  letter-spacing: 0;
}

.square {
  @include tabBoxBasic;
  min-width: 48px;
  min-height: 44px;
  font-size: 13px;
}

.panel {
  @include tabBoxBasic;
  font-size: 14px;
  width: 80px;
  height: 44px;
  flex-shrink: 0;
}

.square,
.panel {
  &.approve {
    //승인
    background-color: $success-bgc;
    border-color: $success-bd;
  }
  &.reject {
    //반려
    background-color: $warning-bgc;
    border-color: $warning-bd;
  }
  &.pending {
    //미결
    background-color: $pending-bgc;
    border-color: $pending-bd;
  }
  &.waiting {
    //대기
    background-color: $waiting-bgc;
    border-color: $waiting-bd;
  }
}
.dateTagWrap {
  @include centerLeft;
  height: 32px;
}
.dateCount {
  padding: 0 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
  position: relative;

  &::after {
    @include afterBar;
  }
  &:last-child::after {
    display: none;
  }

  span {
    color: $foundation-primary-bg;
    font-size: 16px;
    font-weight: 600;
  }
}
