// ============================================================================
// List Components - Ul, Ol, Li
// ============================================================================

@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins' as *;

// ============================================================================
// Ul, Ol - 리스트 컨테이너
// ============================================================================

.list {
  @include topLeft;
  width: 100%;
  gap: 4px 0;
}
