body{
    background-color: #FBFAFC;
    max-height: 100vh;
    overflow: hidden;
}

@mixin activeStyle{//아코디언 열렸을때
    background: rgba(102, 77, 204, 0.10);
    color: #5036BA;
    font-weight: 500;
}

@mixin hoverStyle{//마우스 올렸을 때 선 색 생김
    border: 1px solid rgba(102, 77, 204, 0.40);
}
@mixin hoverStyle{//활성화 중일 때
    background: #664DCC;
    color: #FFF;
}


