body{background-color: #FBFAFC;}

// 박스 색상(셀렉트, 버튼 위주 참조)
$boxCl01: #FBFAFC;
$boxCl02: rgba(102, 77, 204, 0.10);
$boxCl03: rgba(102, 77, 204, 0.20);
$boxCl04: rgba(80, 54, 186, 0.04);
$boxCl05: #664DCC;

// 회색
$gray01 :rgba(0, 0, 0, 0.04);//인풋
$gray02 :#FBFAFC;//바디
$gray03 :#EDF0F6;//버튼

// 선
$line01 : 1px solid #D2DFFF;//내부컨텐츠
$line02 :1px solid rgba(102, 77, 204, 0.08);//결재선 서식
$line03 : 1px solid rgba(102, 77, 204, 0.40);//셀렉트
$line04 :1px solid #5036BA;//결재선

$dash01 :1px dashed rgba(102, 77, 204, 0.08);//점선