@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/_figma-token' as *;
@use '@/shared/styles/base/mixins.scss' as *;

.uploadBox {
  @include basicBox;
  .plusWrap {
    height: 96px;
    position: relative;
    @include centerCenter;

    &:hover .clearBtn {
      visibility: visible;
      opacity: 1;
    }
  }
  .uploadBoxName {
    @include centerCenter;
    border-top: 1px solid $foundation-light-line-shade-100;
    min-height: 48px;

    span {
      @include txt_ellipsis;
      font-weight: 400;
      line-height: 100%;
      max-width: 100%;
      min-width: 0;
    }
    .inputSearch {
      border-radius: 0 0 10px 10px;
      input {
        min-height: 48px;
        padding-right: 47px;
        @include searchXDelete;
      }
      i {
        display: none;
      }
    }
  }

  // 파일
  &.fileBox {
    @include input_file;
    .fileBoxName {
      padding: 0px 10px;
      span {
        color: $foundation-grayscale-shade-88;
        text-align: center;
        font-size: 14px;
      }
    }

    .fileDelete {
      @include file_name;
      @include centerCenter;
      @include txt_ellipsis;
      max-width: 100%;
      gap: 0 4px;
      span {
        width: calc(100% - 20px);
      }
    }
  }

  // 결재
  &.statusBox {
  }

  // 추가전 레이아웃
  &.emptyBox {
    background: none;
    border-style: dashed;
    cursor: pointer;
    &:hover {
      border-style: solid;
      .uploadBoxName {
        border-style: solid;
      }
    }

    .uploadBoxName {
      border-style: dashed;
      span {
        color: $foundation-grayscale-shade-75;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .hasDate {
    display: flex;
    flex-direction: column;
    gap: 6px 0;
  }
  .upBoxDates {
    //승인부분 날짜
    @include centerCenter;
    flex-direction: column;
    span {
      color: $foundation-grayscale-shade-66;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
    }
  }
  // 승인자 이름
  .checkName {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
  }

  .clearBtn {
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 8px;
    top: 8px;
    cursor: pointer;
    rect {
      fill: #f4f5f6;
    }
    path {
      fill: #757575;
    }
  }

  .teamName {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    width: 100%;
    padding: 0 24px;
  }
}
