.brandingSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
}

.brandingContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  text-align: center;
}

.brandSubtitle {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.25;
  color: #a78bfa;
  position: relative;
  z-index: 1;
  margin: 0;
}

.brandTitle {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.25;
  color: #5036ba;
  position: relative;
  z-index: 1;
  margin-bottom: 16px;
}

.brandDescription {
  font-size: 24px;
  color: #111827;
  line-height: 1.25;
  position: relative;
  z-index: 1;
  margin: 0;
  text-align: center;
}
