.loginContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fbfafc;
}

// 메인 컨텐츠 영역
.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

// 카드 컨테이너
.cardsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
