@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/_figma-token' as *;

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba($foundation-light-base-shade-100, 0.5);
  backdrop-filter: blur(4px);
}

.withOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($foundation-light-base-shade-100, 0.8);
}

.loadingInline {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  padding: 16px;
}

.loadingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.spinner {
  border: 2px solid $secondary-border;
  border-top: 2px solid $primary-color;
  border-radius: 9999px;
  animation: spin 1s linear infinite;
}

.spinner--small {
  width: 20px;
  height: 20px;
}

.spinner--medium {
  width: 32px;
  height: 32px;
}

.spinner--large {
  width: 48px;
  height: 48px;
}

.loadingMessage {
  margin: 0;
  color: $text-color;
  font-size: 14px;
  font-weight: 500;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
