@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/_figma-token' as *;
@use '@/shared/styles/base/_mixins.scss' as *;

.inputTxt {
  @include basic_box;
  cursor: text;

  input {
    &[type='text'] {
      color: $text-color;
      cursor: text;
    }
    &[type='search'] {
      color: $primary-color;
    }
    &[type='file'] {
      //reset
      position: absolute;
      width: 0;
      height: 0;
      padding: 0;
      overflow: hidden;
      border: 0;
    }
    // &[type='password'] {
    // }
    // &[type='number'] {
    // }
  }
}
.inputPw {
  position: relative;
}

.textarea {
  @include topLeft;
  min-height: 156px;
  justify-content: space-between;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 16px;
  outline: none;
  border-radius: $wrap-radious;
  border: 1px solid $foundation-light-line-shade-100;
  background: $foundation-light-base-shade-100;
  resize: none;
  width: 100%;
}

// 기본 파일첨부 알맹이 정렬
@mixin fileTxtBasic {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.28px;
}

.inputFileWrap {
  position: relative;
  > div {
    @include topLeft;
    width: calc(100% - 20px);
    gap: 8px;
  }
}
.inputFile {
  @include topCenter;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;

  input[type='file'] {
    //reset
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }
  span {
    @include fileTxtBasic;
    color: $foundation-grayscale-shade-88;
    width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  i {
    width: 20px;
    height: 20px;
    @include centerCenter;
  }
}
.inputFileWrap {
  @include centerLeft;
  width: 100%;

  .fileNameBtn {
    @include centerLeft;
    gap: 4px;
    span {
      @include fileTxtBasic;
      color: $file-color;
      text-decoration: underline;
    }
    i {
      @include centerCenter;
      width: 16px;
      height: 16px;
    }
  }
}
