@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/_figma-token' as *;
@use '@/shared/styles/base/mixins.scss' as *;
/* mixins.scss */
@mixin basic_placeholder {
  color: $placeholder-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}

// 인풋 정렬시 itemAlign + hasItem(인풋개수) class 두개 다 사용
.itemAlign {
  @include btmRight;
}

//체크박스
.checkWrap {
  width: 100%;
  input[type='checkbox'] {
    border: 0;
    width: 0;
    height: 0;
    display: none;
  }
  label {
    @include centerLeft;
    gap: 4px;
    cursor: pointer;
    padding: 4px 0;

    i {
      border-radius: $input-radious;
      border: 1px solid $secondary-border;
      @include centerCenter;
      flex-direction: column;
      width: 16px;
      height: 16px;
      gap: 5px;
      background-color: $foundation-light-base-shade-100;

      img {
        display: none;
      }
    }
    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 14px */
      letter-spacing: -0.28px;
    }
  }
  &.hasFFF {
    i {
      border-color: rgba(255, 255, 255, 0.4);
      background-color: $round-border;
    }
    span {
      font-weight: 500;
      color: #fff;
    }
  }

  &.checked {
    img {
      display: block;
    }
  }
}
