@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/_figma-token' as *;
@use '@/shared/styles/base/_mixins.scss' as *;

.inputTxt {
  @include basic_box;
  & {
    cursor: text;
  }
  input {
    &[type='text'],
    &[type='number'],
    &[type='password'] &[type='url'],
    &[type='tel'],
    &[type='email'] {
      color: $text-color;
      cursor: text;
      min-height: 46px;
    }
    &[type='search'] {
      color: $primary-color;
    }
    &[type='file'] {
      //reset
      @include input_reset;
    }
    // &[type='password'] {
    // }
    // &[type='number'] {
    // }
  }
}
.inputPw {
  position: relative;
}

.textarea {
  @include topLeft;
  @include basicBox;
  & {
    min-height: 156px;
    justify-content: space-between;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 16px;
    outline: none;
    resize: none;
  }
  &::placeholder {
    @include basic_placeholder;
  }
  @include bgfffScroll;
  &:disabled {
    border: 0;
    background-color: $foundation-grayscale-base-shade-4;
  }
}

.inputFileWrap {
  position: relative;
  > div {
    @include topLeft;
    width: calc(100% - 20px);
    gap: 8px;
  }
}
.inputFile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  @include input_file;
  span {
    @include fileTxtBasic;
    color: $foundation-grayscale-shade-88;
    width: calc(100% - 20px);
    @include txt_ellipsis;
  }
  i {
    width: 20px;
    height: 20px;
    @include centerCenter;
  }
}
.inputFileWrap {
  @include centerLeft;
  & {
    width: 100%;
  }
}
.fileNameBtn {
  @include file_name;
}
.inputData {
  padding: $basic-padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}
