@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/_mixins.scss' as *;
.inputTit {
  @include btmLeft;
  min-height: 32px;
  padding-left: 16px;
  padding-bottom: 8px;

  span {
    @include txt_ellipsis;
    color: $input-color;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.26px;

    &.disabled {
      color: $foundation-grayscale-shade-88;
    }
    &.hasStar {
      //앞에 *표시 있는거
      padding-left: 14px;
      position: relative;

      &::before {
        content: '*';
        color: $primary-color;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 16px;
        font-size: 16px;
      }
      &.disabled::before {
        color: $foundation-primary-alpha-20percent;
      }
    }
  }
}
:global(.innerWrap) .inputTit {
  padding-left: 4px;
}
