@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/_figma-token' as *;
@use '@/shared/styles/base/mixins.scss' as *;

//체크박스
.checkWrap {
  width: 100%;
  position: relative;
  input[type='checkbox'] {
    border: 0;
    width: 0;
    height: 0;
    position: absolute;
    // display: none;
  }
  label {
    @include centerLeft;
    cursor: default;
    // cursor: pointer;
    padding: 4px 0;
    gap: 0;

    i {
      border-radius: $input-radious;
      border: 1px solid $secondary-border;
      @include centerCenter;
      flex-direction: column;
      width: 16px;
      height: 16px;
      gap: 5px;
      background-color: $foundation-light-base-shade-100;
      margin-right: 4px;

      img {
        display: none;
      }
    }
    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 14px */
      letter-spacing: -0.28px;
    }
  }
  &.hasFFF {
    i {
      border-color: rgba(255, 255, 255, 0.4);
      background-color: $round-border;
    }
    span {
      font-weight: 500;
      color: $foundation-light-base-shade-100;
    }
  }

  &.checked {
    img {
      display: block;
    }
  }
}
