.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.inputWidthAuto {
  width: auto;
}

// 테스트용 scss
.rowArea {
  display: flex;
  background-color: #a3a3a3;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.columnArea {
  display: flex;
  background-color: #a3a3a3;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
