@use '@/shared/styles/abstracts/figma-token' as *;
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.inputWidthAuto {
  width: auto;
}

// 테스트용 scss
.rowArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.columnArea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
.bgGray {
  background-color: $foundation-light-base-shade-40;
}
.bgPurple {
  background-color: $foundation-primary-alpha-80percent;
}
