@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/base/mixins.scss' as *;
/* mixins.scss */
// 인풋 기본 박스 스타일
@mixin basic_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  border-radius: $wrap-radious;
  border: 1px solid $secondary-border;
  background-color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  input {
    width: 100%;
    padding: 11px 16px;
    &::placeholder {
      color: $placeholder-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
    }
    &:disabled {
      background: rgba(0, 0, 0, 0.04);
      cursor: default;
    }
  }
}
@mixin basic_placeholder {
  color: $placeholder-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}

.inputAlign {
  @include topLeft;
  width: 100%;
  gap: 12px;

  &.hasInput02 {
    > div {
      width: calc(100% / 2);
    }
  }
  &.hasInput03 {
    > div {
      width: calc(100% / 3);
    }
  }
  &.hasInput04 {
    > div {
      width: calc(100% / 4);
    }
  }
}

//체크박스
.checkWrap {
  width: 100%;
  input[type='checkbox'] {
    border: 0;
    width: 0;
    height: 0;
    display: none;
  }
  label {
    @include centerLeft;
    gap: 4px;
    cursor: pointer;
    padding: 4px 0;

    i {
      border-radius: 4px;
      border: 1px solid $secondary-border;
      @include centerCenter;
      flex-direction: column;
      width: 16px;
      height: 16px;
      gap: 5px;

      img {
        display: none;
      }
    }
    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 14px */
      letter-spacing: -0.28px;
    }
  }
  &.hasFFF {
    i {
      border-color: rgba(255, 255, 255, 0.4);
      background-color: $round-border;
    }
    span {
      font-weight: 500;
      color: #fff;
    }
  }

  &.checked {
    img {
      display: block;
    }
  }
}
