@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/_figma-token' as *;
@use '@/shared/styles/base/mixins.scss' as *;

@mixin spanStyle {
  color: $input-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  align-items: center;
  gap: 0 3px;
}

.radioBox {
  display: flex;
  gap: 0 8px;
  .radioCustom {
    cursor: pointer;
    display: block;
    line-height: 100%;
    span {
      @include spanStyle;
    }
    .circle {
      fill: none;
      rect {
        stroke: $round-border;
        stroke-opacity: 0.4;
        transition: 0.3s;
      }
      .circleOn {
        stroke: none;
        fill: none;
        transition: 0.3s;
      }
    }

    input {
      &[type='radio'] {
        // appearance: none;
        display: none;
      }
      &[type='radio']:checked {
        //체크된거

        & + span {
          //체크된 글자
          color: $text-color;
          rect {
            stroke-opacity: 1;
          }
          .circleOn {
            stroke: $round-border;
            fill: $round-border;
          }
        }
      }
    }

    &:hover {
      rect {
        stroke-opacity: 1;
      }
      span {
        @include spanStyle;
        color: $text-color;
      }
    }
  }

  .radioButton {
    //버튼형식
    span {
      @include centerCenter;
      font-size: 12px;
      font-weight: 400;
      line-height: 100%;
      color: $foundation-grayscale-shade-33;
      min-height: 30px;
      padding: 9px 12px;
      background: $foundation-light-line-shade-20;
      border: 1px solid $foundation-light-line-shade-100;
      border-radius: $basic-radious;
      transition: 0.3s;
    }
    input {
      &[type='radio']:checked {
        //체크된거
        & + span {
          //체크된 글자
          font-size: 12px;
          background: $foundation-primary-bg;
          border: 1px solid $foundation-primary-bg;
          color: $foundation-light-base-shade-100;
        }
      }
    }

    &:hover {
      span {
        font-size: 12px;
        background: $foundation-light-line-shade-100;
      }
    }
  }
}
