@use '@/shared/styles/abstracts/variables' as *;

@mixin spanStyle {
  color: $input-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  align-items: center;
  gap: 0 3px;
}

.radioBox {
  display: flex;
  gap: 0 8px;
  .radioCustom {
    cursor: pointer;
    display: block;
    line-height: 100%;
    span {
      @include spanStyle;
    }
    .circle {
      fill: none;
      rect {
        stroke: $round-border;
        stroke-opacity: 0.4;
        transition: 0.3s;
      }
      .circleOn {
        stroke: none;
        fill: none;
        transition: 0.3s;
      }
    }

    input {
      &[type='radio'] {
        // appearance: none;
        display: none;
      }
      &[type='radio']:checked {
        //체크된거

        & + span {
          //체크된 글자
          color: $text-color;
          rect {
            stroke-opacity: 1;
          }
          .circleOn {
            stroke: $round-border;
            fill: $round-border;
          }
        }
      }
    }

    &:hover {
      rect {
        stroke-opacity: 1;
      }
      span {
        @include spanStyle;
        color: $text-color;
      }
    }
  }
}
