@use './inputBasic.scss' as basic;
@use '@/shared/styles/abstracts/variables' as *;

$search-width: 20px;//검색버튼
$clear-width: 16px;//삭제아이콘

.inputSearch {
  @include basic.basic_box;
  cursor: text;
  position: relative;
  input {
    color: $primary-color;
    font-weight: 500;
    padding-right: calc($search-width + 2*16px);
    position: relative;
    z-index: 1;

    /* IE */
    &::-ms-clear,
    &::-ms-reveal {
      opacity: 0;
      cursor: pointer;
    }
    /* chrome */
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      opacity: 0;
      cursor: pointer;
    }
  }

  i {
    width: $clear-width;
    height: $clear-width;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    position: absolute;
    z-index: 0;
    right: calc($clear-width + 2*16px);

    &.hasDelete {
      display: flex;
    }
  }

  button {
    min-width: $search-width;
    min-height: $search-width;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 16px;
    right: 0;
    z-index: 1;
    cursor: pointer;
  }
}
