@use './inputBasic.scss' as basic;
@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/base/_mixins.scss' as *;

$search-width: 20px; //검색버튼
$clear-width: 16px; //삭제아이콘

.inputSearch {
  @include basic_box;
  & {
    border: 0;
    cursor: text;
    position: relative;
  }
  input {
    padding-right: calc($search-width + 2 * 16px);
    @include searchInput;
    &:disabled ~ button {
      cursor: default;
    }
  }

  i {
    width: $clear-width;
    height: $clear-width;
    display: none;
    position: absolute;
    z-index: 0;
    right: calc($clear-width + 2 * 16px);
    top: 0;

    &.hasDelete {
      @include centerCenter;
    }
  }

  button {
    @include centerCenter;
    & {
      min-width: $search-width;
      min-height: $search-width;
      position: absolute;
      padding: 16px;
      right: 0;
      z-index: 1;
      cursor: pointer;
    }
  }
}
.searchCustom .inputSearch {
  border: 1px solid $secondary-border;
}
