@use './inputBasic.scss' as mixins;
@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/base/_mixins.scss' as *;

.selectCustom {
  .selectOption {
    position: relative;
    z-index: 10;
    div {
      p {
        @include mixins.basic_box;
        color: $placeholder-color;
        padding: 13px 16px;
        width: 100%;
      }
      i {
        @include centerCenter;
        transition: 0.3s;
        stroke: $text-color;
      }
    }
    ul {
      display: flex;
      align-items: flex-start;
      padding: 0 16px;
      max-height: 0;
      flex-direction: column;
      border-radius: $wrap-radious;
      background: #fff;
      box-shadow: 16px 20px 20px 0 rgba(42, 42, 64, 0.04);
      transition: 0.5s ease;
      overflow: hidden;
      position: absolute;
      width: 100%;
      z-index: 1;

      li {
        display: flex;
        color: $text-color;
        font-feature-settings:
          'liga' off,
          'clig' off;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.28px;
        display: block;
        width: 100%;
        cursor: pointer;
        padding: 8px 0;

        &:hover {
          color: $primary-color;
          font-weight: 500;
        }
      }
    }
    &:global(.active) {
      //클릭하고
      i {
        transform: rotate(180deg);
      }
      ul {
        padding: 16px;
        max-height: 500px;
        margin-top: 10px;
      }
    }
    &:active,
    &:global(.active),
    &:hover {
      p {
        background: $hover-color;
      }
    }
    &:global(.has_value),
    &:active {
      p {
        color: $text-color;
      }
    }
  }
}
