@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/_figma-token' as *;
@use '@/shared/styles/base/_mixins.scss' as *;

.selectCustom {
  .selectOption {
    position: relative;
    z-index: 10;
    div {
      p {
        @include basic_box;
        color: $placeholder-color;
        padding: $basic-padding;
        width: 100%;
      }
      i {
        @include centerCenter;
        transition: $transition-base;
        stroke: $text-color;
      }
    }
    ul {
      display: flex;
      align-items: flex-start;
      padding: 0 16px;
      max-height: 0;
      flex-direction: column;
      border-radius: $wrap-radious;
      background: $foundation-light-base-shade-100;
      box-shadow: 16px 20px 20px 0 $list-shadow;
      transition: 0.5s ease;
      overflow: hidden;
      position: absolute;
      width: 100%;
      z-index: 1;

      li {
        display: flex;
        color: $text-color;
        font-feature-settings:
          'liga' off,
          'clig' off;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.28px;
        display: block;
        width: 100%;
        cursor: pointer;
        padding: 8px 0;

        &:hover {
          color: $primary-color;
          font-weight: 500;
        }
      }
    }
    &:global(.active) {
      //클릭하고
      i {
        transform: rotate(180deg);
      }
      ul {
        padding: 16px;
        max-height: 210px;
        overflow-y: scroll;
        margin-top: 10px;

        // 스크롤 숨기기
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */

        &::-webkit-scrollbar {
          width: 0; // Chrome, Safari
          height: 0;
        }
      }
    }
    &:active,
    &:global(.active),
    &:hover {
      p {
        background: $hover-color;
      }
    }
    &:global(.has_value),
    &:active {
      p {
        color: $text-color;
      }
    }
  }

  &.selectGray {
    div {
      p {
        // padding: 8px 10px 8px 16px;
        border: 1px solid $foundation-grayscale-base-shade-4;
        background: $foundation-light-grid;
        color: $foundation-grayscale-shade-33;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px; /* 100% */
        letter-spacing: -0.28px;
        padding: 8px 10px 8px 16px;
        height: 40px;
        i,
        svg {
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}
