@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins' as *;

// 기본 메뉴 디자인
@mixin basicMainMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $basic-radious;
  background: $background-color;
  padding: 2px 12px;
  transition: $second03;
  color: $text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.28px;

  i span {
    color: $foundation-grayscale-shade-33;
  }
}

// 마우스 올렸을 때 연보라 + 보라글씨
@mixin hoverMainMenu {
  background: $primary-color;
  color: $foundation-light-base-shade-100;

  span {
    color: $foundation-light-base-shade-100;
  }

  i span {
    color: $foundation-light-base-shade-100;
  }
}

// 활성화 시 진한보라배경 + 흰글씨
@mixin activeMainMenu {
  background: $menu-active;
  color: $foundation-primary-font;
  font-weight: 500;

  i span {
    color: $foundation-primary-font;
  }
}

.leftMenu {
  min-width: 300px;
  border-radius: 0 40px 40px 0;
  background: $foundation-light-base-shade-100;
  mix-blend-mode: multiply;
  box-shadow: 8px 20px 40px 0 rgba(6, 1, 17, 0.04);
  padding: 30px 28px 0 36px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 40px 0;

  > div {
    @include centerCenter;
    flex-direction: column;
    gap: 12px;
  }

  .leftTop {
    @include centerCenter;
    flex-direction: column;
    gap: 28px 0;
  }

  ul {
    li {
      margin-bottom: 8px;

      // 메인메뉴
      > a {
        @include basicMainMenu;
        border: 1px solid transparent;

        i {
          @include menuA;
          padding: 12px 0;
          span {
            transition: $second03;
          }
        }
        // 드롭다운 아이콘
        svg {
          transition: $second03;
          stroke: $foundation-primary-font;
        }
      }
      // 활성화 메뉴 > 서브메뉴 드롭다운 클릭 시
      &.active ol {
        max-height: 500px;
        opacity: 1;
        li a {
          @include activeMainMenu;
        }
      }

      // 활성화 메뉴 > 서브메뉴 드롭다운 기본 설정
      ol {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: $second03;
        li {
          margin-bottom: 0;

          // 활성화 메뉴 > 서브메뉴 메뉴들
          a {
            @include basicMainMenu;
            padding: 12px 0 12px 34px;
            border: 1px solid transparent;
            border-radius: 0;

            span {
              color: $primary-color;
            }
          }

          &:last-child a {
            border-radius: 0 0 $basic-radious $basic-radious;
          }

          &:hover a {
            @include activeMainMenu;
            border: 1px solid $foundation-primary-alpha-40percent;
          }

          // 현재 위치 메뉴 표시
          &.on a,
          &.on a:hover {
            @include hoverMainMenu;
            font-weight: 500;
          }
        }
      }
      &.on a,
      &.on a:hover {
        @include hoverMainMenu;
        font-weight: 500;
      }
    }

    // 메인메뉴 hover
    > li > a:hover {
      @include activeMainMenu;
      border: 1px solid $foundation-primary-alpha-40percent;
    }

    // 열린 드롭다운 서브메뉴 hover
    > li.active > a {
      @include activeMainMenu;
      border: 1px solid $foundation-primary-alpha-4percent;
      border-radius: $basic-radious $basic-radious 0 0;

      span {
        color: $primary-color;
      }

      svg {
        transform: rotate(180deg);
      }
    }
  }
}
