@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins' as *;

// 기본 메뉴 디자인
@mixin basicMainMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $basic-radious;
  background: $background-color;
  padding: 2px 12px;
  transition:
    all $transition-slow,
    font-weight 0s;
  color: $text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.28px;

  i span {
    color: $foundation-grayscale-shade-33;
  }
}

// 활성화 메뉴
@mixin activeMainMenu {
  background: $primary-color;
  color: $foundation-light-base-shade-100;

  span {
    color: $foundation-light-base-shade-100;
  }

  i span {
    color: $foundation-light-base-shade-100;
  }
}

// 아코디언 메뉴
@mixin hoverMainMenu {
  background: $menu-active;
  color: $foundation-primary-font;
  font-weight: 500;

  i span {
    color: $foundation-primary-font;
  }
}

.leftMenu {
  min-width: 300px;
  height: 100vh;
  border-radius: 0 40px 40px 0;
  background: $foundation-light-base-shade-100;
  mix-blend-mode: multiply;
  box-shadow: $main-shadow;
  padding: 30px 28px 48px 36px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 40px 0;
  overflow-y: scroll;

  > div {
    @include centerCenter;
    flex-direction: column;
    gap: 12px;
  }

  .leftTop {
    @include centerCenter;
    flex-direction: column;
    gap: 28px 0;
  }

  ul {
    li {
      margin-bottom: 8px;

      // 메인메뉴
      > a {
        @include basicMainMenu;
        border: 1px solid transparent;

        i {
          @include menuA;
          padding: 12px 0;
          span {
            // transition: $transition-base;
          }
        }
        // 드롭다운 아이콘
        svg {
          transition: $transition-base;
          stroke: $foundation-primary-font;
        }
      }
      // 활성화 메뉴 > 서브메뉴 드롭다운 클릭 시
      &.active ol {
        max-height: 500px;
        opacity: 1;
        li a {
          @include hoverMainMenu;
        }
      }

      // 활성화 메뉴 > 서브메뉴 드롭다운 기본 설정
      ol {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: $transition-base;
        border-top: 1px solid $foundation-primary-alpha-4percent;
        li {
          margin-bottom: 0;

          // 활성화 메뉴 > 서브메뉴 메뉴들
          a {
            @include basicMainMenu;
            padding: 12px 0 12px 34px;
            border: 1px solid transparent;
            border-radius: 0;

            span {
              color: $primary-color;
            }
          }

          &:last-child a {
            border-radius: 0 0 $basic-radious $basic-radious;
          }

          &:hover a {
            @include hoverMainMenu;
            border: 1px solid $foundation-primary-alpha-40percent;
          }

          // 현재 위치 메뉴 표시
          &.on a,
          &.on a:hover {
            @include activeMainMenu;
            font-weight: 500;
          }
        }
      }
      // 현재 위치 메뉴 표시
      &.on a,
      &.on a:hover {
        @include activeMainMenu;
        font-weight: 500;
      }
    }

    // 메인메뉴 hover
    & > li > a:hover {
      @include hoverMainMenu;
      border: 1px solid $foundation-primary-alpha-40percent;
    }

    // 열린 드롭다운 서브메뉴 hover
    & > li.active {
      background: $menu-active;
      border-radius: $basic-radious;
      & > a {
        @include hoverMainMenu;
        // border: 1px solid $foundation-primary-alpha-4percent;
        // border-radius: $basic-radious $basic-radious 0 0;

        span {
          color: $primary-color;
        }

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
  //스크롤바 배경
  &::-webkit-scrollbar-thumb {
    border: $barMargin solid $foundation-light-base-shade-100; //여백
  }
}
