@use '@/shared/styles/abstracts/variables' as *;
@mixin buttonBasic {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.24px;
  cursor: pointer;

  &.logout {
    border-color: $primary-border;
    background: #edf0f6;
  }

  label {
  }
}
