@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins' as *;

// 버튼 디자인
.btnBasic {
  @include btnBasic;
  @include btnBasicColor;

  &.secondBtn {
    @include btnSeconColor;
  }
  &.primeBtn {
    @include btnPrimeColor;
  }
}

// 비번 껐다켜기
.pwShowBtn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.btnWrapsStyle {
  @include topRight;
  gap: 8px;

  &.btnGroup {
    width: 100%;
  }
  &.btnTitOnly {
    width: 100%;
    padding-bottom: 20px;
  }
}
