@use '@/shared/styles/abstracts/variables' as *;
@use '@/shared/styles/abstracts/figma-token' as *;
@use '@/shared/styles/base/mixins' as *;
.btnBasic {
  @include btnBasic;
  @include btnBasicColor;

  &.secondBtn {
    @include btnSeconColor;
  }
  &.primeBtn {
    @include btnPrimeColor;
  }
}
.pwShowBtn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
